
<div class="view">
    {{#script}}
        {{#name}}
            <h3>{{.}}</h3>
        {{/name}}
            <section>
                {{#description}}
                <p>{{.}}</p>
                {{/description}}
            </section>
    {{/script}}
    <a href="/{{projectName}}">
        <img src="/{{projectName}}/{{projectName}}.png" alt="img">
    </a>
</div>
