
<div class="projects">
    {{#script}}
        {{#name}}
            <h2>{{.}}</h2>
        {{/name}}
            <section>
                {{#description}}
                <h3><p>{{.}}</p></h3>
                {{/description}}
            </section>
    {{/script}}
    <h1><a href="/{{projectName}}"></h1>
        <img src="/{{projectName}}/{{projectName}}.png" alt="img">
    </a>
</div>
